{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Out{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sign Out</h5>
                <p class="text-danger">Are you sure you want to sign out?</p>
                <form class="login" method="POST" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="btn btn-primary" type="submit">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}