{% extends "base.html" %}
{% load game_extras %}
{% load static %}

{% block extraHead %}
<link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}">
{% endblock %}

{% block title %}Connect 4 Game{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <table class="center">
            <thead>
                <tr>
                    {% is_users_turn game as users_turn %}
                    {% for col in game.COLUMNS %}
                        {% is_valid_col game col as valid_col %}
                        <th {% if users_turn and valid_col %}data-url="{% url 'game_coin' pk=game.pk column=col %}"{% endif %}
                            class="circle{% if users_turn and valid_col %} play-row {{ game.current_player_colour }}{% endif %}">
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row, col_data in game.board_dict.items %}
                    <tr data-row="{{ row }}">
                        {% for col, colour in col_data.items %}
                            <td data-col="{{ col }}" class="circle {{ colour }}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extraJS %}
{% is_users_turn game as users_turn %}
<script id="gameDetailScript" src="{% static 'games/game_detail.js' %}" type="text/javascript"
        data-check-turn-url="{% url 'game_check_turn' pk=game.pk %}"
        data-check-turn="{% if not users_turn and game.is_pending %}true{% else %}false{% endif %}"
></script>
{% endblock %}
