{% extends "base.html" %}
{% load game_extras %}

{% block title %}My Games{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="list-group">
            {% for game in game_list %}
                <a href="{{ game.get_absolute_url }}" class="list-group-item list-group-item-action">
                    <h5>{% game_title game %}</h5>
                    {% game_badge game %}
                    <span class="text-muted float-right">
                        Created: {{ game.created_date }}
                        {% if game.last_move %}| Last Move: {{ game.last_move.created_date }}{% endif %}
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
