<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

        {% block extraHead %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'game_list' %}">Connect 4</a>
            <span class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-warning" href="{% url 'account_logout' %}">Sign Out</a>
            {% endif %}
            {% if not user.is_authenticated and request.path == '/accounts/signup/' %}
                <a class="btn btn-outline-success" href="{% url 'account_login' %}">Sign In</a>
            {% endif %}
            {% if not user.is_authenticated and request.path == '/accounts/login/' %}
                <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
            </span>
        </nav>
        <div id="mainContent" class="container mt-3">
            {% block content %}{% endblock %}
        </div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block extraJS %}{% endblock %}
    </body>
</html>
